POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

ASPNETCORE_ENVIRONMENT=
DATABASE_URL=
FRONTEND_URL=
Issuer=
Key=
PORT=
ResetKey=
ResetIssuer=

VITE_API_URL=
VITE_PORT=
VITE_YOUR_PUBLIC_KEY=
VITE_YOUR_SERVICE_ID=
VITE_YOUR_TEMPLATE_ID=