.env
**/*.p12
**/*.pem
db/
frontend/.vscode
backend/.vs
backend/.sonarqube
*.csproj.lscache

.vscode
.vs
.sonarqube

# .terraform
terraform/**/*.tfstate
terraform/**/*.tfstate.backup
terraform/**/.terraform/
terraform/**/.terraform.lock.hcl
terraform/**/terraform.tfvars
terraform/**/*.tfvars